[Desktop Entry]
Encoding=UTF-8
Name=Gnome Jabber
Comment=Gnome Jabber Client
Comment[pl]=Klient Jabbera dla Gnome
Exec=gnome-jabber
Icon=/usr/share/gnome-jabber/gj_jsf.png
Terminal=false
Type=Application
Categories=GTK;GNOME;Network;InstantMessaging;
# vi: encoding=utf-8
